@import 'styles/_mixins.scss';
@import 'styles/_colors.scss';
@import 'styles/_dimens.scss';

.user-avatar-container {
    align-items: center;
    border-radius: $border-radius-card;
    display: flex;
    flex-direction: row;
    padding: 0.2rem;

    &:hover {
        cursor: pointer;
    }

    @include hover-background($color-background-white, $color-background-light);

    .user-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .user-name {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
