@import 'styles/_mixins.scss';
@import 'styles/_colors.scss';
@import 'styles/_dimens.scss';

$background-color: $color-background-white;

.user-avatar-container {
    align-items: center;
    background-color: $background-color;
    border-radius: $default-border-radius;
    display: flex;
    flex-direction: row;
    padding: 0.2rem;

    &:hover {
        cursor: pointer;
    }

    @include hover-darken-background($background-color);

    .user-icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-text-primary;
    }

    .user-name {
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: bold;
    }
}
