/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../assets/fonts/nunito-v9-latin-regular.woff2') format('woff2'),     /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/nunito-v9-latin-regular.woff') format('woff');       /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../assets/fonts/pt-sans-v9-latin-regular.woff2') format('woff2'),    /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/pt-sans-v9-latin-regular.woff') format('woff');      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
