@import 'styles/_dimens.scss';

@mixin smooth-transition-all() {
    transition: all $default-transition-time $smooth-transition;
}

@mixin header-font() {
    font-family: 'Nunito', sans-serif;
}

@mixin body-font() {
    font-family: 'PT Sans', sans-serif;
}
